.nutrients-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.nutrients-title {
    color: #9e4800;
}
.nutrient-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.nutrient-heading {
    margin: 0;
    color: #6a0b00;
}
.nutrient-image {
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}
.nutrients-panel {
    display: flex;
    justify-content: center;
}
.vertical-progress-bar {
    position: absolute;
    left: -15%;
    
}
.vertical-progress-bar-outer {
    position: relative;
    width: 15px;
    height: 380px;
    background-color: rgb(207, 207, 207);
    display: flex;
    text-align: right;
}
.vertical-progress-bar-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #008000;
    transition: all 0.3s ease;
}
.vertical-progress-bar-content {
    width: 100%;
    height: 100%;
    writing-mode: vertical-lr;
    letter-spacing: 3px;
}

/* .blast {
    animation: blast-animation 1s ease-out forwards;
}

@keyframes blast-animation {
    0% {
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
    }
    100% {
        transform: scale(1);
        opacity: 1;
        box-shadow: none;
    }
}
   */