.game-container {
	text-align: center;
	font-family: Arial, sans-serif;
	height: 100vh;
	display: flex;
	background-image: url('./../public/assets/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
}

.result-panel {
	padding: 30px;
    position: absolute;
    left: 0;
    z-index: 999;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.visual-panel {
	position:relative;
	margin:auto;
	display:flex;
	width:600px;
	height:100vh;
	background:none;
}

.operational-panel {
	position: absolute;
	right: 0;
	z-index: 999;
	height: 100%;
	padding: 15px;
    box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.operational-panel-control {
	display: flex;
	flex-direction: column;
}

.rain {
	margin-bottom: 25px;
	display: inline-flex;
	background-color: transparent;
	border: 0;
	outline: 0;
	transition: all 0.3s ease;
}

.rain:active {
	transform: scale(0.9);
}

.rain-image {
	width: 100px;
	height: 100px;
}

.sunicon {
	margin-bottom: 25px;
	display: inline-flex;
	background-color: transparent;
	border: 0;
	outline: 0;
	transition: all 0.3s ease;
}

.sunicon:active {
	transform: scale(0.9);
}

.sunicon-image {
	width: 100px;
	height: 100px;
}

.progress-container {
	/* margin-top: auto; */
}

.plant {
	margin-top: auto;
	position: relative;
}

.pot {
	position:absolute;
	width:20%;
	height: 80px;
	bottom:0;
	left:40%;
	background: #cc6601;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    box-shadow: inset 0 16px 20px rgb(105 44 0);
}

.pot-top {
	position: absolute;
    width: 22%;
    height: 25px;
    bottom: 80px;
    left: 39%;
    background: #9d4700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.stem {
	position:absolute;
	width:3%;
	left:49%;
	bottom:80px;
	background:#008000;
	background-image: radial-gradient(#008000, #135113);
	border-top-right-radius: 80%;
}

.leaf {
	position:absolute;
	width:500%;
	height: 50px;
	/* border-radius:50%; */
	background: #159315;
	
}

.leaf .line {
	position:absolute;
	width:80%;
	height:1%;
	background:rgba(0,0,0,0.1);
	top:48%;
}

.leaf01 {
	top:70%;
	left:50%;
	transform:rotate(-25deg);
}

.leaf02 {
	top:50%;
	right:50%;
	transform:rotate(205deg);
}

.leaf03 {
	top:30%;
	left:50%;
	transform:rotate(-25deg);
} 

.leaf04 {
	top:20%;
	right:50%;
	transform:rotate(205deg);
}  

.leaf05 {
	top:-17%;
	left:-120%;
	transform:rotate(-60deg);
}

.leaf06 {
	top:-9%;
	right:22%;
	transform:rotate(195deg);
}

/* --- ANIMATION --- */

.stem, .leaf  {
	animation-duration: 2.2s!important;
	animation-fill-mode:both;
	transition: all 0.3s ease;
}   

.stem.rain {
	animation: grow 1s linear 1;
}

@keyframes grow {
	0% {
		bottom:-40%;
		width:1%;
	}
	
	100% {
		bottom:20%;
		width:2%;
	}
}

.stem.rain .leaf {
	animation: leafGrow 1s linear 1;
	animation-fill-mode:both;
}

@keyframes leafGrow {
	0% {
		width:0%;
		height:0%;
	}
	
	100% {
		width:700%;
		height:10%;
	}
} 

.stem.rain .leaf05 {
	animation: topLeafRight 1s linear 1;
}

@keyframes topLeafRight {
	0% {
		top:5%;
		width:0%;
		height:0%;
		left:10%;
	}
	
	100% {
		width:700%;
		height:10%;
		top:-17%;
		left:-120%;
	}
}

.stem.rain .leaf06 {
	animation: topLeafLeft 1s linear 1;
}

@keyframes topLeafLeft {
	0% {
		top:0%;
		width:0%;
		height:0%;
	}
	
	100% {
		width:700%;
		height:10%;
		top:-9%;
	}
} 


/* .plant {
  width: 100px;
  height: 150px;
  margin: 0 auto;
  background: green;
  border-radius: 50% 50% 0 0;
  transition: transform 0.3s, filter 0.3s;
} */

/* Plant states */
.happy {
	filter: brightness(1.2);
	transform: scale(1.1);
}

.happy.leaf {
	transform: scale(1.1);
}

.healthy {
	filter: brightness(1.2);
	transform: scale(1.1);
}

.healthy.leaf {
	transform: scale(1.1);
}

.dull {
	transform: none!important;
}

.droopy {
	filter: brightness(0.7);
	transform: none!important;
}

.drooping {
	filter: brightness(0.7);
}

.drooping.leaf {
	/* transform: rotate(10deg)!important; */
}

.thirsty {
	filter: grayscale(1);
}

.thirsty.leaf {
	transform: scale(0.9);
}

button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 10px;
}

.dead-leaf {
	font-size: 30px;
	cursor: pointer;
	margin: 10px;
}

.nutrients {
	margin-top: 20px;
}

.nutrients button {
	margin: 5px;
	padding: 10px;
	font-size: 14px;
}

.popup {
	margin-top: 20px;
	padding: 10px;
	background: #f0f4c3;
	border: 1px solid #cddc39;
	display: inline-block;
	border-radius: 8px;
	animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
	0% { opacity: 0; transform: translateY(-10px); }
	10% { opacity: 1; transform: translateY(0); }
	90% { opacity: 1; }
	100% { opacity: 0; transform: translateY(-10px); }
}


@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}



/* Sun light effects on plant */
.stem.vibrant {
	transform: scale(1.2)!important;
	filter: brightness(1.2);
}
.pale {
	background-color: #85ae86 !important;
}
.stem.pale {
	background-image: radial-gradient(#85ae86, #5c685d) !important;
}
.burnt {
	background-color: #5A4E3C!important;
}
.stem.burnt {
	background-image: radial-gradient(#5A4E3C, #312a20) !important;
}